<h3> Select Category</h3>
<%= select("Category", "Category_id", @categories.all.collect {|p| [ p.name, p.id ] })%>


<div class="product">
	
</div>

<%#= link_to "New Category", new_category_path%>

<%#= link_to "New Product", new_product_path%>

<script type="text/javascript">
	$('#Category_Category_id').change(function() {
		var value = $(this).find(':selected').val();
		$.get("/home/product?id="+value,function(data,status){
    		$(".product").html(data);
  		});
	
	});
</script>

